<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.each.www.atmosphere"
          android:versionCode="7"
          android:versionName="1.2.6">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"/>
    //地图包、搜索包需要的基础权限
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d682ed7f99e110bc559df5f36d5195d4">
            //开发者申请的key
        </meta-data>

        <activity
            android:name=".view.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".view.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>
        <activity android:name=".view.DetailsActivity">
        </activity>
        <activity
            android:name=".view.GuideActivity"
            android:label="@string/title_activity_guide">
        </activity>
        <activity
            android:name=".view.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme">
        </activity>

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>
